<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Rubik:ital,wght@0,300;0,500;1,700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/3354552753.js" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Moisés Chávez | Resume</title>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <!-- // Intro -->
        <header>
            <nav>
                <a href="#about">About</a>
                <a href="#work">Work Experience</a>
                <a href="#education">Education</a>
                <a href="#contact">Contact</a>
            </nav>
            <div class="content-wrap" id="about">
                <div class="column-left">
                    <img class="profile-img" src="images/chilling.jpg" alt="Moises Chavez">
                </div>
                <div class="column-right">
                    <h1>Moisés Chávez</h1>
                    <h2>Software Developer</h2>
                    <p>I am current a software engineering student in Monterrey Institute of Technology. I accomplished a software development associated degree in CETI. Now, I am looking for new challenges that let me grow up as human been and help others so that everyone achieves our own success. </p>
                </div>
            </div>
            <a class="btn download" href="assets/Resume.pdf" download> Download PDF</a>
        </header>

        <main> 
            <!-- // Work Experience -->
            <section class="work" id="work">
                <div class="content-wrap">
                    <h2>Work Experience</h2>

                    <div class="column-left">

                        <!-- Job Details: copy this whole block to add more jobs -->
                        <h3>PC Maintenance</h3>
                        <p class="uppercase">Independent</p>
                        <p>August 2018 - December 2018</p>
                    </div>
                    <div class="column-right">

                        <!-- Add as many paragraphs as you need. -->
                        <p class="job-description">Preventive and corrective maintenance of personal computers. From formatting and installation of operating system and drivers, to internal cleaning of the equipment.</p>
                    </div>
                    <div class="column-left">

                        <!-- Job Details: copy this whole block to add more jobs -->
                        <h3>Data Base Administrator</h3>
                        <p class="uppercase">CETI Tonalá Campus</p>
                        <p>January 2018 - July 2018</p>
                    </div>
                    <div class="column-right">

                        <!-- Add as many paragraphs as you need. -->
                        <p class="job-description">Development of a labor information control system payment and assistance for administrative workers and teachers. Control system programmed in Excel.</p>
                    </div>
                    <div class="column-left">

                        <!-- Job Details: copy this whole block to add more jobs -->
                        <h3>Data Base Administrator</h3>
                        <p class="uppercase">Ramon Grocery Store</p>
                        <p>August 2017 - December 2017</p>
                    </div>
                    <div class="column-right">

                        <!-- Add as many paragraphs as you need. -->
                        <p class="job-description">Implementation of a system for the control of entries and exits of groceries linked to a SQL database. Programmed in Java.</p>
                    </div>
                </div>
            </section>


            <!-- // Education -->
            <section class="education" id="education">
                <div class="content-wrap">
                    <h2>Education</h2>

                    <!-- School details: copy this whole block to add more schools. -->
                    <h3>Monterrey Institute of Technology and Higher Education</h3>
                    <p>Software Engineering, Aug 2019 - Jul 2023</p>
                    <!-- Add as many paragraphs as you need. -->
                    <p>Major in Software Engineering.</p>
                    <br>
                    <h3>CETI Tonalá Campus</h3>
                    <p>Associate Degree Software Development, Aug 2015 - Jul 2019</p>
                    <!-- Add as many paragraphs as you need. -->
                    <p>Major in Software Development.</p>
                    <!-- End of school details. -->
                </div>
            </section>
        </main>

        <!-- // Footer & contact info -->
        <footer>
            <div class="content-wrap" id="contact">
                <h2>Let's Keep in Touch!</h2>

                <!-- Social media and contact links. Add or remove any networks. -->
                <div class="contact-info">
                    <a href="mailto:carlosmoiseschavezjimenez@gmail.com">carlosmoiseschavezjimenez@gmail.com</a>
                    <a href="http://yourwebsite.com" target="_blank">moiseschavez.com</a>
                    <a href="https://twitter.com/iamoy13" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/moises-chavez-itesm/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.facebook.com/MoyChavezJim/" target="_blank"><i class="fab fa-facebook"></i></a>
                </div>

                <p>Copyright 2021 by Moisés Chávez</p>
            </div>
        </footer>
    </body>
</html>