<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c1eae85dfa.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Your name | Resume</title>
        <link rel="stylesheet" href="./static/styles/styles.css">
        <script src="./static/js/app.js" defer></script>
    </head>
    <body>
        <!-- // Intro -->
        <nav class="menu">
            <label class="logo">Portfolio</label>
            <ul class="menu_item">
                <li class="active"><a href="#about">Start</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#work">Work Experience</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <span class="btn_menu">
            <i class="fa fa-bars"></i>
        </span>
    </body>
</html>